In [1]:
import h5py
import numpy as np
import pandas as pd

In [2]:
fName = '/Users/yuntse/data/lartpc_rd/gampix/radiologicals/g4/fullgeoanatruth-vd-reduced_g4_00.h5'

In [3]:
with h5py.File(fName, 'r') as f:
    # Print all top-level groups/datasets
    print(list(f.keys()))
    fS = f['segments']
    fT = f['trajectories']
    fV = f['vertices']
    print(fS.dtype)
    print(fT.dtype)
    print(fV.dtype)
    
    tempS = fS[()]
    tempT = fT[()]
    tempV = fV[()]

['segments', 'trajectories', 'vertices']
{'names': ['event_id', 'vertex_id', 'file_vertex_id', 'segment_id', 'z_end', 'traj_id', 'file_traj_id', 'tran_diff', 'z_start', 'x_end', 'y_end', 'n_electrons', 'pdg_id', 'x_start', 'y_start', 't_start', 't0_start', 't0_end', 't0', 'dx', 'long_diff', 'pixel_plane', 't_end', 'dEdx', 'dE', 't', 'y', 'x', 'z', 'n_photons'], 'formats': ['<u4', '<u8', '<u8', '<u4', '<f4', '<i4', '<u4', '<f4', '<f4', '<f4', '<f4', '<u4', '<i4', '<f4', '<f4', '<f4', '<f8', '<f8', '<f8', '<f4', '<f4', '<i4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4'], 'offsets': [0, 8, 16, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 80, 88, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144], 'itemsize': 152}
{'names': ['event_id', 'vertex_id', 'file_vertex_id', 'traj_id', 'file_traj_id', 'parent_id', 'primary', 'E_start', 'pxyz_start', 'xyz_start', 't_start', 'E_end', 'pxyz_end', 'xyz_end', 't_end', 'pdg_id', 'start_process', 'start_subprocess', 'end_process', 'end_subprocess', 'dist_travel'], 'formats': ['<u4', '<u8', '<u8', '<i4', '<u4', '<i4', '?', '<f4', ('<f4', (3,)), ('<f4', (3,)), '<f8', '<f4', ('<f4', (3,)), ('<f4', (3,)), '<f8', '<i4', '<i4', '<i4', '<i4', '<i4', '<f4'], 'offsets': [0, 8, 16, 24, 28, 32, 36, 40, 44, 56, 72, 80, 84, 96, 112, 120, 124, 128, 132, 136, 140], 'itemsize': 144}
{'names': ['event_id', 'vertex_id', 'file_vertex_id', 'x_vert', 'y_vert', 'z_vert', 't_vert', 't_event'], 'formats': ['<u4', '<u8', '<u8', '<f4', '<f4', '<f4', '<f4', '<f4'], 'offsets': [0, 8, 16, 24, 28, 32, 36, 40], 'itemsize': 48}

In [4]:
dS = pd.DataFrame(tempS)
dS

,event_id,vertex_id,file_vertex_id,segment_id,z_end,traj_id,file_traj_id,tran_diff,z_start,x_end,...,long_diff,pixel_plane,t_end,dEdx,dE,t,y,x,z,n_photons
0,0,0,0,0,1113.118896,0,0,0.0,1113.115845,-309.159698,...,0.0,0,0.0,24.895210,0.102955,0.0,-26.064362,-309.160126,1113.117432,0.0
1,0,0,1,1,1103.693604,0,1,0.0,1103.678223,-395.968414,...,0.0,0,0.0,13.062375,0.272483,0.0,146.634644,-395.965881,1103.685913,0.0
2,0,0,2,2,1062.674561,0,2,0.0,1062.677002,268.650177,...,0.0,0,0.0,26.654310,0.091932,0.0,127.297485,268.649109,1062.675781,0.0
3,0,0,3,3,1056.802979,0,3,0.0,1056.802979,322.655792,...,0.0,0,0.0,143.201324,0.010307,0.0,-87.979385,322.655762,1056.802979,0.0
4,0,0,4,4,1177.411621,0,4,0.0,1177.421631,13.592563,...,0.0,0,0.0,11.276511,0.354154,0.0,49.331459,13.584973,1177.416626,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186,0,0,995,1186,896.026611,1,1171,0.0,896.026794,-328.153748,...,0.0,0,0.0,86.041054,0.015985,0.0,78.206146,-328.153748,896.026733,0.0
1187,0,0,996,1187,1049.835205,0,1172,0.0,1049.868164,-326.927307,...,0.0,0,0.0,9.646697,0.661208,0.0,28.864498,-326.930725,1049.851685,0.0
1188,0,0,997,1188,901.640381,0,1173,0.0,901.639587,-328.528015,...,0.0,0,0.0,41.453945,0.050544,0.0,-99.659798,-328.528473,901.640015,0.0
1189,0,0,998,1189,907.118774,0,1174,0.0,907.131531,-327.976501,...,0.0,0,0.0,10.006893,0.441110,0.0,-57.449959,-327.955750,907.125122,0.0
1190,0,0,999,1190,916.638916,0,1175,0.0,916.638794,-328.685608,...,0.0,0,0.0,26.377737,0.092054,0.0,118.073029,-328.683929,916.638855,0.0

In [5]:
tempS

array([(0, 0,   0,    0, 1113.1189, 0,    0, 0., 1113.1158 , -309.1597 , -26.063034, 0, 11, -309.16055, -26.065691, 0.,  3679.10343409,  3679.10343434,  3679.10343421, 0.00413554, 0., 0, 0., 24.89521 , 0.10295515, 0., -26.064362, -309.16013, 1113.1174 , 0.),
       (0, 0,   1,    1, 1103.6936, 0,    1, 0., 1103.6782 , -395.9684 , 146.62807 , 0, 11, -395.96332, 146.6412  , 0.,  3642.34775305,  3642.34775397,  3642.34775351, 0.02086017, 0., 0, 0., 13.062375, 0.27248338, 0., 146.63464 , -395.96588, 1103.6859 , 0.),
       (0, 0,   2,    2, 1062.6746, 0,    2, 0., 1062.677  ,  268.65018, 127.29693 , 0, 11,  268.648  , 127.29804 , 0., -1905.68438172, -1905.68438151, -1905.68438161, 0.00344906, 0., 0, 0., 26.65431 , 0.09193232, 0., 127.297485,  268.6491 , 1062.6758 , 0.),
       ...,
       (0, 0, 997, 1188,  901.6404, 0, 1173, 0.,  901.6396 , -328.528  , -99.65973 , 0, 11, -328.52893, -99.65987 , 0.,  2647.58646488,  2647.58646498,  2647.58646493, 0.00121927, 0., 0, 0., 41.453945, 0.05054362, 0., -99.6598  , -328.52847,  901.64   , 0.),
       (0, 0, 998, 1189,  907.1188, 0, 1174, 0.,  907.13153, -327.9765 , -57.453762, 0, 11, -327.935  , -57.44616 , 0.,  1965.7561183 ,  1965.75612029,  1965.7561193 , 0.0440806 , 0., 0, 0., 10.006893, 0.4411099 , 0., -57.44996 , -327.95575,  907.1251 , 0.),
       (0, 0, 999, 1190,  916.6389, 0, 1175, 0.,  916.6388 , -328.6856 , 118.072556, 0, 11, -328.68225, 118.0735  , 0., -2252.78764963, -2252.78764941, -2252.78764952, 0.00348983, 0., 0, 0., 26.377737, 0.09205379, 0., 118.07303 , -328.68393,  916.63885, 0.)],
      dtype={'names': ['event_id', 'vertex_id', 'file_vertex_id', 'segment_id', 'z_end', 'traj_id', 'file_traj_id', 'tran_diff', 'z_start', 'x_end', 'y_end', 'n_electrons', 'pdg_id', 'x_start', 'y_start', 't_start', 't0_start', 't0_end', 't0', 'dx', 'long_diff', 'pixel_plane', 't_end', 'dEdx', 'dE', 't', 'y', 'x', 'z', 'n_photons'], 'formats': ['<u4', '<u8', '<u8', '<u4', '<f4', '<i4', '<u4', '<f4', '<f4', '<f4', '<f4', '<u4', '<i4', '<f4', '<f4', '<f4', '<f8', '<f8', '<f8', '<f4', '<f4', '<i4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4'], 'offsets': [0, 8, 16, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 80, 88, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144], 'itemsize': 152})

Pandas version 2 will not implicitly accept columns containing arrays (like the vectors in the `trajectories` data).
We need to convert explicitly all the columns that have an array structure (`ndim > 1`) while we can use directly all the others:

In [6]:
dT = pd.DataFrame({
    name: tempT[name].tolist() if tempT[name].ndim > 1 else tempT[name]
    for name in tempT.dtype.names
})

In [7]:
dT

,event_id,vertex_id,file_vertex_id,traj_id,file_traj_id,parent_id,primary,E_start,pxyz_start,xyz_start,...,E_end,pxyz_end,xyz_end,t_end,pdg_id,start_process,start_subprocess,end_process,end_subprocess,dist_travel
0,0,0,0,0,0,-1,True,0.613954,"[0.0682862177491188, 0.21526359021663666, 0.25...","[-309.1605529785156, -26.065690994262695, 1113...",...,0.510999,"[0.0, 0.0, 0.0]","[-309.1596984863281, -26.063034057617188, 1113...",3679.103434,11,0,0,2,22,0.004200
1,0,0,1,0,1,-1,True,0.783480,"[-0.14507721364498138, -0.3742099404335022, 0....","[-395.96331787109375, 146.64120483398438, 1103...",...,0.510999,"[-0.0, -0.0, 0.0]","[-395.9684143066406, 146.62806701660156, 1103....",3642.347754,11,2,22,2,22,0.020858
2,0,0,2,0,2,-1,True,0.602932,"[0.20221948623657227, -0.10365697741508484, -0...","[268.64801025390625, 127.29804229736328, 1062....",...,0.510999,"[0.0, -0.0, -0.0]","[268.6501770019531, 127.29692840576172, 1062.6...",-1905.684382,11,2,22,2,22,0.003460
3,0,0,3,0,3,-1,True,0.521306,"[0.0872962549328804, -0.05471504479646683, 0.0...","[322.6557312011719, -87.9793701171875, 1056.80...",...,0.510999,"[0.0, -0.0, 0.0]","[322.6557922363281, -87.97940826416016, 1056.8...",1677.721441,11,2,22,2,22,0.000075
4,0,0,4,0,4,-1,True,0.865161,"[0.3376385569572449, 0.569568395614624, -0.221...","[13.577383995056152, 49.31865692138672, 1177.4...",...,0.510999,"[0.0, 0.0, -0.0]","[13.592562675476074, 49.34426498413086, 1177.4...",2562.904210,11,2,22,2,22,0.031385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,0,0,995,1,1171,0,False,0.526984,"[-0.010851622559130192, 0.006802436430007219, ...","[-328.1537170410156, 78.20614624023438, 896.02...",...,0.510999,"[-0.0, 0.0, -0.0]","[-328.15374755859375, 78.2061538696289, 896.02...",3343.966994,11,2,12,2,22,0.000162
1172,0,0,996,0,1172,-1,True,1.172210,"[0.1922634392976761, 0.8747936487197876, -0.55...","[-326.9341125488281, 28.83464241027832, 1049.8...",...,0.510999,"[-0.0, -0.0, 0.0]","[-326.92730712890625, 28.89435386657715, 1049....",-2988.762554,11,2,22,2,22,0.068557
1173,0,0,997,0,1173,-1,True,0.561543,"[0.1730135828256607, 0.025927890092134476, 0.1...","[-328.5289306640625, -99.65986633300781, 901.6...",...,0.510999,"[0.0, 0.0, 0.0]","[-328.52801513671875, -99.65972900390625, 901....",2647.586465,11,2,22,2,22,0.001225
1174,0,0,998,0,1174,-1,True,0.952088,"[-0.7273191213607788, -0.20083679258823395, -0...","[-327.93499755859375, -57.44615936279297, 907....",...,0.510999,"[-0.0, 0.0, 0.0]","[-327.97650146484375, -57.45376205444336, 907....",1965.756120,11,2,22,2,22,0.044074
1175,0,0,999,0,1175,-1,True,0.603051,"[-0.3078743815422058, -0.08744549006223679, 0....","[-328.6822509765625, 118.07350158691406, 916.6...",...,0.510999,"[-0.0, -0.0, 0.0]","[-328.68560791015625, 118.07255554199219, 916....",-2252.787649,11,2,22,2,22,0.003467

In [8]:
dV = pd.DataFrame(tempV)
dV

,event_id,vertex_id,file_vertex_id,x_vert,y_vert,z_vert,t_vert,t_event
0,0,0,0,-309.160553,-26.065691,1113.115845,3679.103516,0.0
1,0,0,1,-395.963318,146.641205,1103.678223,3642.347656,0.0
2,0,0,2,268.648010,127.298042,1062.677002,-1905.684326,0.0
3,0,0,3,322.655731,-87.979370,1056.802979,1677.721436,0.0
4,0,0,4,13.577384,49.318657,1177.421631,2562.904297,0.0
...,...,...,...,...,...,...,...,...
995,0,0,995,-328.114563,78.151321,895.958984,3343.967041,0.0
996,0,0,996,-326.934113,28.834642,1049.868164,-2988.762451,0.0
997,0,0,997,-328.528931,-99.659866,901.639587,2647.586426,0.0
998,0,0,998,-327.934998,-57.446159,907.131531,1965.756104,0.0
999,0,0,999,-328.682251,118.073502,916.638794,-2252.787598,0.0

In [9]:
dV[(dV.event_id>10)&(dV.event_id<20)]

Empty DataFrame
Columns: [event_id, vertex_id, file_vertex_id, x_vert, y_vert, z_vert, t_vert, t_event]
Index: []

In [10]:
dT[(dT.event_id==15)]

Empty DataFrame
Columns: [event_id, vertex_id, file_vertex_id, traj_id, file_traj_id, parent_id, primary, E_start, pxyz_start, xyz_start, t_start, E_end, pxyz_end, xyz_end, t_end, pdg_id, start_process, start_subprocess, end_process, end_subprocess, dist_travel]
Index: []

[0 rows x 21 columns]

In [11]:
dT[(dT.event_id==31)]

Empty DataFrame
Columns: [event_id, vertex_id, file_vertex_id, traj_id, file_traj_id, parent_id, primary, E_start, pxyz_start, xyz_start, t_start, E_end, pxyz_end, xyz_end, t_end, pdg_id, start_process, start_subprocess, end_process, end_subprocess, dist_travel]
Index: []

[0 rows x 21 columns]

In [12]:
dS[(dS.event_id==15)]

Empty DataFrame
Columns: [event_id, vertex_id, file_vertex_id, segment_id, z_end, traj_id, file_traj_id, tran_diff, z_start, x_end, y_end, n_electrons, pdg_id, x_start, y_start, t_start, t0_start, t0_end, t0, dx, long_diff, pixel_plane, t_end, dEdx, dE, t, y, x, z, n_photons]
Index: []

[0 rows x 30 columns]